.chart_out {
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid #f3f3f3;
}

.chart {
    height: calc(100%);
}


.title_out {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #4c9be6;
}

.title_text {
    padding: 4px;
    font-weight: 600;
    color: white;
    height: 100%;
}

.title_btn {
    color : white
}

:global(#chart_table .ant-table-title) {
    padding: 0px;
}

.list {
    padding-left: 0;
    width: max-content;
}

.list::-webkit-scrollbar {
    display:none
}

.drawer::-webkit-scrollbar {
    display:none
}