.item_out {
    box-sizing: border-box;
    border-bottom: 1px solid #f2f2f2;
    list-style: none;
    padding-top: 10px;
}

.item_time {
    font-size: 12px;
    text-align: left;
    margin-right: 10px;
}

.item_host {
    font-size: 12px;
    text-align: right;
    margin-left: 10px;
}

.item_name {
    font-size: 14px;
    text-align: right;
}



.item_head {
    display: flex;
    margin-bottom: 10px;
}