.banner_out{
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    background-color: #626c91;
}

.banner_title{
    font-weight: 700;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 14px;
    color: white;
    
}

.banner_time{
    box-sizing: border-box;
    padding-right: 16px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}