.banner_out{
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;

}

.banner_title{
    font-weight: 700;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 14px;
}

.banner_time{
    box-sizing: border-box;
    padding-right: 14px;
    font-weight: 500;
    color: #4c9be6;
}